body {
  margin: 0;
  display: flex;
  user-select: none;
}

#buttonMatrix {
  background-color: #232323;
  width: 75%;
  padding: 5px;
}

#rightDiv {
  background-color: #3F3F3F;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#currentOrder {
  background-color: #EFEFEF;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
}

.button {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: 6px solid #E392FA;
  background-color: #3F3F3F;
  margin: 5px;
}

.button:hover {
  background-color: #303030;
}

.button:active {
  background-color: red;
}
