body {
  margin: 0;
  display: flex;
  user-select: none;
}

#buttonMatrix {
  background-color: #232323;
  width: 75%;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  overflow-y: auto;
}

#rightDiv {
  background-color: #3F3F3F;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 500px;
}

#checkout {
  background-color: #EFEFEF;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  align-items: center;
  border-radius: 20px;
}

.button {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: 6px solid #E392FA;
  background-color: #3F3F3F;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {background-color: #303030}

.paymentButton {
  box-sizing: border-box;
  background-color: #EFEFEF;
  margin: 2px;
  width: calc(100% - 8px);
  height: 100px;
  border-radius: 20px;
  border: 6px solid #232323;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paymentButton:hover {background-color: #E0E0E0}

.paymentButton:active {
  background-color: red;
}

.paymentLabel {
  font-family: "Arial";
}

#orderTotal {
  font-family: "Arial";
}

#order {
  width: 100%;
  height: 70%;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow-y: auto;
}

#payment {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-end;
}

.td {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
}

.row {
  width: 100%;
  height: 50px;
  display: flex;
  margin: 0 20px;
}

.header {
  background-color: grey;
}

.button-label {
  color: white;
}
