body {
  margin: 0;
  display: flex;
  user-select: none;
  font-family: "Arial";
}

.iframe-container {
  display:flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  transition: 0.2s ease-in;
}

.iframe-container.show {
  opacity: 1;
  pointer-events: auto;
  transition: 0.2s ease-in;
}

iframe {
  border: none;
  border-radius: 20px;
}

#left-container {
  background-color: #232323;
  width: 75%;
  height: 100%;
  min-height: 500px;
}

#navbar {
  height: 30px;
  width: 100%;
  display: inline-flex;
  align-items: flex-start;
}

.navbutton {
  height: 100%;
  background-color: #3F3F3F;
  color: #EFEFEF;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #E392FA;
  border-radius: 5px;
  margin-right: 5px;
}

.navbutton:hover {background-color: #303030}

#button-matrix {
  height: calc(100% - 30px);
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  overflow-y: auto;
}

#right-container {
  background-color: #3F3F3F;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 500px;
}

#checkout {
  background-color: #EFEFEF;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  align-items: center;
  border-radius: 20px;
}

.button {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: 6px solid #E392FA;
  background-color: #3F3F3F;
  margin: 5px;
  display: block;
  color: #EFEFEF;
}

.button-label {
  height: 50%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.button-label#name {
  font-size: 1em;
}

.button-label#price {
  font-size: 1.4em;
}

.button:hover {background-color: #303030}

.payment-button {
  box-sizing: border-box;
  background-color: #EFEFEF;
  margin: 2px;
  width: calc(100% - 8px);
  height: 100px;
  border-radius: 20px;
  border: 6px solid #232323;
  display: flex;
  align-items: center;
  justify-content: center;
}

.payment-button:hover {background-color: #E0E0E0}

#order {
  width: 100%;
  height: 70%;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow-y: auto;
}

#cart {
  width: 100%;
  height: 100%;
}

#payment {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-end;
}

.td {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
  background-color: #E0E0E0;
}

.row {
  height: 50px;
  display: flex;
  margin: 0 20px;
}

.header {
  background-color: #3F3F3F;
  color: #EFEFEF;
}

#clear-cart-button {
  color: #EFEFEF;
  width: 10%;
}

#clear-cart-button:hover {
  color: #E392FA;
}

.remove-button {
  width: 10%;
}

.remove-button:hover {
  color: #E392FA;
}
